<!DOCTYPE html>
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .messageContainer .footer {
        color: grey;
    }
    </style>
</head>
<body>
    
    <div class="messageContainer">

        <h3>Wall Message</h3>
        <p>
            Hi %dstUsername%,
            <br/>
            <a href="%srcUserProfileLink%">%srcUsername% (%srcUserAge%)</a> 
            from %srcUserCountry% has posted a message on your wall.
        </p>
        <p>
            <a href="%messageLink%">View Message</a>
        </p>
        <p class="footer">
            You are receiving this email because you are a registerd user of 
            <a href="%applicationLink%">online4dating.net</a> 
            one of the only totaly free online dating networks.
        </p>
        
    </div>
    
</body>
</html>
