.plainDivMenu {
    margin-left:60px;
    height:32px;
    line-height:32px;
    font: 1.1em/32px "HelveticaW01-BlkCnObl",sans-serif;
    font-weight:bold;
}
.plainDivMenu .sddm {
    font-size: 15px;
}
.plainDivMenu .sddm div a {
    text-decoration: none;
    padding: 0px 7px;
    margin: 0px;
    color: #FFF;
    font-style:italic;
}
.plainDivMenu .sddm div a.sddmSelected {
    color: #FFDD00;
}
.plainDivMenu .sddm div a:hover {
    color: #FFDD00;
    border: 1px 0px solid silver;
}
.plainDivMenu .sddm div div {
    background-color: rgb(250,250,250);
    border: 1px solid silver;
}
.plainDivMenu .sddm div div a:hover {
    background-color: rgb(53, 52, 52);
    border: 1px 0px solid silver;
}
.plainDivMenu .sddm div div a {
    background-color: rgb(53, 52, 52);
    color: #FFF;
}
.plainDivMenu .sddm div div a.sddmSelected {
    font-weight: bold;
    color:#FFF;
}
.plainDivMenu .sddm div a.sddmFirst {
    padding-left: 0px;
    border-left: 0px none;
}