body {
padding:0px;
margin:0px;
}    

.frameDiv {
        min-width: 700px;
    }
    .headerDiv {
        height: 40px;
        margin: 10px;
        border: 1px dashed silver;
background: url('gradSmall.gif') white repeat-x;
    }
    .headerMarginDiv {
        margin:10px;
    }
    .bodyDiv {
        min-height: 200px;
        margin: 10px;
        border: 1px dashed silver;
background: url('gradBig.gif') white repeat-x;
    }
    .bodyMarginDiv {
        margin:10px;
    }