body {
    padding:0px;
    margin:0px;
}    
.frameDiv {
    min-width: 700px;
    margin: 0px 10px 0px 10px;
}
.topMenuDiv {
    margin: 0px 10px 0px 10px;
}
.topMenuMarginDiv {
    float: right;
}
.headerDiv {
    clear: both;
    height: 100px;
    margin: 10px 0px 0px 0px;
    border: 1px dashed silver;
    background: url('gradBig.gif') white repeat-x;
}
.headerMenuDiv {
    min-height: 30px;
    margin: 10px 0px 0px 0px;
    border: 1px dashed silver;
    background: url('gradSmall.gif') white repeat-x;
}
.headerMenuMarginDiv {
    margin:10px;
}
.bodyDiv {
    min-height: 200px;
    margin: 10px 0px 0px 0px;
    border: 1px dashed silver;
    background: url('gradBig.gif') white repeat-x;
}
.bodyMarginDiv {
    margin:10px;
}
.bodyDivLeftMargin {
    margin-left: 210px;
}
.bodyDivRightMargin {
    margin-right: 375px;
}
.bodyRightDiv {
    min-height: 200px;
    width: 365px;
    float: right;
    margin: 10px 0px 0px 0px;
    border: 1px dashed silver;
    background: url('gradBig.gif') white repeat-x;
}
.bodyRightMarginDiv {
    margin:10px;
}
.bodyLeftDiv {
    min-height: 200px;
    width: 200px;
    float: left;
    margin: 10px 0px 0px 0px;
    border: 1px dashed silver;
    background: url('gradBig.gif') white repeat-x;
}
.bodyLeftMarginDiv {
    margin:10px;
}
.footerMenuDiv {
    clear: both;
    min-height: 30px;
    margin: 10px 0px 10px 0px;
    border: 1px dashed silver;
    background: url('gradSmall.gif') white repeat-x;
}
.footerMenuMarginDiv {
    margin:10px;
}
.floatContainerDiv {
    float:left;
    width:100%;
}