
.chatPage {
    border: 1px solid silver;
}

.chatMessages {
    height: 200px;
    border-bottom: 1px solid silver;
    overflow: auto;
}

.chatMessage {
    padding-left:20px;
}

.chatUser {
    color: navy;
    font-weight: bold;
}

.chatInputDiv {
    
}
