

@import url("fonts.css") all;

/* common element styles */

div {
    zoom:1;
}

body {
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 14px;
}
/*
.ui-widget {
    font-size: 0.7em;
}
*/
input {
    border: 1px solid gray;
    background: url('../img/common/grad_vert.gif') repeat-x white;
}

textarea {
    border: 1px solid gray;
    background: url('../img/common/grad_vert.gif') repeat-x white;
}

select {
    border: 1px solid gray;
    background-image: url('../img/common/grad_vert.gif');
}

button {
    border: 1px solid gray;
    background-image: url('../img/common/grad_vert.gif');
}

a {
    color: black;
    text-decoration: underline;
}

.textbox {
    width: 100%;
}
.button {
}


hr {
    border: 0px none;
    padding: 0px;
    color: silver;
    background-color: grey;
    height: 1px;
}

.hrClear {
	clear:both;
	height:0px;
	border:0px;
}
.clear {
    clear: both;
}

/* common modifiers */

.expand {
    width:100%;
}
.contract {
    width: 1%;
}
.nowrap {
    white-space:nowrap;
}
.alignRight {
    text-align: right;
}
.alignLeft {
    text-align: left;
}
.alignTop {
	vertical-align:top;
}
.hide {
    display: none;
}
.show {
    display: block;
}


/* forms */

.formActionsToolbar {
    float: right;
    height: 30px;
}
formActionsToolbar a {
    
}
formActionsToolbar input {
    padding-left: 5px;
}
formActionsToolbar button {
    margin-left: 5px;
    padding-left: 5px;
}

.formLabel {
    width:1%;
    padding-right: 20px;
    white-space: nowrap;
}
.formFeild {
    width:99%;
}

.link {
    background: url("../img/pfeil_inaktiv.gif") no-repeat 0px 9px;
}

.panel {
}



/* admin */
/*
.resultTable {
    border: 0px;
    border-top: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: silver;
}
.resultTableHeader {
    background: url('../img/common/grad_vert.gif') repeat-x;
}
.resultTableCell {
    border: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: silver;
    background-color: rgb(240,240,240);
}
*/

.resultTable {
    margin-top: 10px;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: silver;
    text-align: center;
    white-space: nowrap;
}
.resultTable td {
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: silver;
    height: 30px;
}
.resultTable thead td {
    background: url('../img/common/grad_vert.gif') repeat-x;
}
.resultTable tbody td {
    background: #f0f0f0;
}
.resultTable tbody tr:hover td {
    background: url('../img/common/grad_vert.gif') repeat-x;
}




.formTable {
    width: 100%;
}
.formTable td {
    width: 99%;
    vertical-align: top;
}
.formTable td:first-child {
    width: 1%;
    white-space: nowrap;
}
.formTable input, .formTable select, .formTable textarea {
    width: 99%;
}
.formTable input[type="checkbox"] {
    width: 1%;
}
.formTable select[multiple="multiple"] {
    width: 500px;
}


img {
    border: 0px none;
}
.imageLink {
    border: 0px none;
}
a img {
    border: 0px none;
}

.toolButtonSpacinng {
    float: right;
    margin-left: 3px;
}
.toolButtonDiv {
    height: 26px;
    text-align: right;
}

.infoMessage_background {
    border: 1px solid silver;
    font-weight: normal;
}
.infoMessage_info {
    background-image:url('../img/info.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 10px 10px 10px 50px;
    min-height: 30px;
}
.infoMessage_warning {

}
.infoMessage_error {

}
.multiselect {
    height: 200px;
    width: 500px;
}

/* module */

.vcms_area {
	min-height: 20px;
}

.vcms_area_show_border {
}

.vcms_module {
	padding: 1px;
}

.vcms_module_show_border {
	border: 1px dashed silver;
	padding: 0px;
}

/* style */

.shadow {
    -moz-box-shadow:    3px 3px 5px 3px #bbb;
    -webkit-box-shadow: 3px 3px 5px 3px #bbb;
    box-shadow:         3px 3px 5px 3px #bbb;
}

