
/* menu */
.sddmShow {
    display: block;
}
.sddmHide {
    display: none;
}
.sddmSelected {
    /* display: block; */
}


.sddm {
    margin: 0;
    padding: 0;
    z-index: 30;
}
.sddm div {
    margin: 0;
    margin-right: 2px;
    padding: 0;
    float: left;
    font: 14px;
    font-weight:bold;
}
.sddm div a {
    display: block;
    margin: 0;
    padding: 4px 4px;
    color: rgb(255,199,3);
    text-align: center;
    text-decoration: none
}
.sddm div a:hover {
    color: orange;
}
.sddm div div {
    position: absolute;
    /* display: none; */
    margin: 0;
    padding: 0;
    background: rgb(148,142,138);
    z-index: 30;
}
.sddm div div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    color: rgb(255,199,3);
    font: 14px;
    font-weight: bold;
}
.sddm div div a:hover {
    background: rgb(158,152,148);
    color: rgb(255,199,3);
}
.sddm_first {
    
}
