body {
    background-color: #515151;
}
.layoutContainer {
    position: relative;
    width: 980px;
    background: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(64,64,64);
}
.headerContainer {
    width: 980px;
    height: 205px;
    background: url(ianus_header.jpg) no-repeat;
    border: none;
}
.menuTopContainer {
    position: absolute;
    top: 29px;
    left: 24px;
    width: 932px;
    height: 19px;
    text-align: left;
}
.menuBottomContainer {
    position: relative;
    margin: 10px 0px 10px 10px;
}
.contentContainer {
    min-height: 200px;
    background-image: url(ianus_ltile.gif);
    background-repeat: repeat-y;
}

.footerContainer {
    position: relative;
    display: block;
    width: 980px;
    height: 63px;
    float: left;
    background: url(ianus_lfooter.gif) no-repeat;
}
.contentCenterContainer {
    margin-left: 220px;
    margin-right: 220px;
    position: relative;
}
.contentCenterLeftContainer {
    margin-left: 220px;
    margin-right: 6px;
    position: relative;
}
.contentCenterRightContainer {
    margin-left: 6px;
    margin-right: 220px;
    position: relative;
}
.contentCenterFullContainer {
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
}


.contentCenterHeader {
    background-image: url(ianus_contenthtile.gif);
    background-repeat: repeat-y;
    width: auto;
    height: 37px;
}

.contentCenterHeader {
    background-image: url(ianus_contenthtile.gif);
    background-repeat: repeat-x;
    background-position-y: -1px;
    height: 37px;
}
.contentCenterHeaderLeft {
    float: left;
    background-image: url(ianus_contenthleft.gif);
    width: 33px;
    height: 37px;
}

.contentCenterHeaderRight {
    float: right;
    background-image: url(ianus_contenthright.gif);
    width: 34px;
    height: 37px;
}
.contentCenterBody {
    background-color: rgb(81,81,81);
    min-height: 20px;
    margin: 3px 10px 3px 10px;
    padding: 8px;
}
.contentCenterBodyLeft {
    background-image: url(ianus_mainleft.gif);
    background-repeat: repeat-y;
    position: absolute;
    width: 8px;
    top: 37px;
    left: 0px;
    bottom: 110px;
}
.contentCenterBodyRight {
    background-image: url(ianus_mainright.gif);
    background-repeat: repeat-y;
    position: absolute;
    width: 8px;
    top: 37px;
    right: 0px;
    bottom: 110px;
}
.contentCenterFooter {
    background-image: url(ianus_contentftile.gif);
    background-repeat: repeat-x;
    height: 110px;
}
.contentCenterFooterRight {
    float: right;
    width: 52px;
    height: 110px;
    background-image: url(ianus_contentfright.gif);
}
.contentCenterFooterLeft {
    float: left;
    width: 52px;
    height: 110px;
    background-image: url(ianus_contentfleft.gif);
}
.contentCenterFooterCenter {
    background-image: url(ianus_contentfmiddle.gif);
    width: 137px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}

.contentRightContainer {
    float: right;
    width: 210px;
    height: auto;
    margin-right: 6px;
}

.contentLeftContainer {
    float: left;
    width: 210px;
    height: auto;
    margin-left: 6px;
}
.contentHeader {
    background-image: url(ianus_modulhead.gif);
    height: 37px;
}
.contentBody {
    background-color: rgb(81,81,81);
    min-height: 20px;
    position: relative;
}
.contentLeftContainer .contentBody, 
.contentRightContainer .contentBody {
    padding: 10px 18px;
}

.contentBodyLeft {
    background-image: url(ianus_mainleft.gif);
    background-repeat: repeat-y;
    position: absolute;
    width: 8px;
    top: 0px;
    left: 0px;
    bottom: 0px;
}
.contentBodyRight {
    background-image: url(ianus_mainright.gif);
    background-repeat: repeat-y;
    position: absolute;
    width: 8px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.contentFooter {
    background-image: url(ianus_modulfooter.gif);
    width: 210px;
    height: 110px;
}