.pinboardMapPanel .buttonsHolder {
    height: 40px;
    right: 50px;
    opacity: 0.8;
    position: absolute;
    top: 35px;
    width: auto;
    z-index: 20;
}

.pinboardMapPanel .buttonsHolder img {
    height: 40px;
}

.pinboardMapNewPanel .locationSelect {
    height: 300px;
}

.pinboardMapNewPanel li.icon {
	width: 64px;
	height: 64px;
	float: left;
	margin: 2px 2px 0px 0px;
	border: 1px solid silver;
	list-style: none;
}

.pinboardMapNewPanel li.icon.ui-selected { 
	background: rgb(245,245,245);
	border: 1px solid black;
}
