
.friendRequestList {
}
.usersFriendRequestDiv {
    margin: 0 10px 10px 0;
}
.usersFriendRequestImage {
    float: left;
}
.usersFriendRequestDetails {
    margin-left: 180px;
}
.userFriendRequestNameDiv {
    padding-top: 10px;
}
.userFriendRequestPlaceDiv {
    padding-top: 10px;
}
.userFriendRequestDescriptionDiv {
    padding-top: 10px;
}
.userFriendRequestOptionsDiv {
    text-align: right;
}
