
/*  */
.userList {
}
.usersSearchUserDiv {
    
}
.usersSearchUserImage {
    
}
.usersSearchUserDetails {
    
}

/* pager */
.userListPager {
    
}
.userListPager div {
    float: left;
    margin-right: 5px;
    padding: 4px;
    text-align: center;
    width: 20px;
}
.userListPager a {
    text-decoration: none;
}
.userListPages {
    float: right;
}
.userListPages label {
}

