
.usersSearchPanel input, .usersSearchPanel select {
    width: 100%;
}



/*  */
.userList {
}
.userListUserDiv {
    float: left;
    margin: 0 10px 10px 0;
}
.userListUserImage {
    
}
.userListUserDetails {
    
}

/* pager */
.userListPager {
    
}
.userListPager div {
    float: left;
    margin-right: 5px;
    padding: 4px;
    text-align: center;
    width: 20px;
}
.userListPager a {
    text-decoration: none;
}
.userListPages {
    float: right;
}
.userListPages label {
}

