
.rolesScrollDiv {
    width: 390px;
    height: 250px;
    overflow: auto;
    background-color:rgb(245,245,245);
    border:1px solid silver;
    padding: 5px 0px 0px 5px;
}

#rolesAll, #rolesAllowed {
    min-height:245px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#rolesAll li, #rolesAllowed li { 
    margin-bottom: 5px; padding: 5px; width: 350px;
}

.adminTableToolbar {
    float: right;
}


