.pagesPathLink {
    background: url("../img/arrow.gif") no-repeat 0px 6px;
    padding-left: 11px;
}

.menuPanel {
    min-height: 15px;
    min-width: 100px;
}

/* menu */
.sddmShow {
    display: block;
}
.sddmHide {
    display: none;
}
.sddmSelected {
    /* display: block; */
}


.sddm {
    margin: 0;
    padding: 0;
    z-index: 30;
    font-size: 14px;
}
.sddm div {
    margin: 0;
    padding: 0;
    float: left;
    border-left: 1px solid silver;
}
.sddm div:first-child {
    border-left: 0px none;
}
.sddm div a {
    display: block;
    margin: 0;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
}
.sddm div a:hover {
}
.sddm div div {
    position: absolute;
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
    z-index: 30;
    border: 1px dashed silver;
    min-width: 100px;
}
.sddm div div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 3px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
}
.sddm div div a:hover {
    background: rgb(220,220,220);
}
.sddm_first {
    
}