
.rolesScrollDiv {
    width: 390px;
    height: 250px;
    overflow: auto;
    background-color:rgb(245,245,245);
    border:1px solid silver;
    padding: 5px 0px 0px 5px;
}

#rolesAll, #rolesAllowed {
    min-height:245px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#rolesAll li, #rolesAllowed li { 
    margin-bottom: 5px; padding: 5px; width: 350px;
}

.adminPagesModuleTools {
    text-align: right;
}


/* template select view */

.templateBoxContainer {
    position: relative;
}

.templatesToggelBox {
    padding: 0;
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid silver;
}

.ui-selected {
    border-color: black;
}

.templateToggelBoxDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    z-index: 2;
}

.templateToggelBoxIframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 1000px;
    border: 0;
    -ms-zoom: 0.2;
    -transform: scale(0.2);
    -moz-transform: scale(0.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.2);
    -webkit-transform-origin: 0 0;
    z-index:1;
}

