
.commentsPanel {
    margin-bottom: 5px;
    
}
.commentsAvatar {
    height: 80px;
    width: 80px;
    float: left;
    margin: 10px;
}
.commentsBody {
    padding-left: 100px;
    border: 1px solid silver;
    background: url('../img/page_gradient.gif') repeat-x bottom white;
}
.commentsHeader {
    padding: 10px;
    border-bottom: 1px solid silver;
}
.commentsComment {
    padding: 10px;
    border-bottom: 1px solid silver;
}
.commentsCaptcha {
    padding: 10px;
}
.commentsButtons {
    text-align: right;
    padding: 10px;
    
}
             