body {
    margin: 0px;
    background: black;
}
#pageFrameDiv {
    min-width:1000px;
}
#headerDiv {
    background: url('menta_bike_transparent.png') no-repeat black;
    background-position: 60px 0px;
    height: 75px;
}
#topMenuDiv {
    background: url('menuGrad.png') black;
    height: 32px;
}
#bodyTopDiv {

}
#bodyDiv {
    min-height: 200px;
    background: url('bg.jpg') repeat;
    padding: 40px 0px;
}
#bodyMarginDiv {
    margin: 0px 60px;
}
#socialDiv {

}
#socialMarginDiv {
    margin:20px;
}
#bottomMenuDiv {
    background: url('menuBottomGrad.png') black;
    height: 48px;
}
#copyRightDiv {
    min-height: 20px;
}
#headerToolsDiv {
    position: absolute;
    top: 25px;
    right: 35px;
}
#headerToolsMenu, #headerMenuSearch, #headerLangsMenu {
    float:left;
}