
.adminHeaderDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    border: 0px solid silver;
    border-width: 0px 0px 1px 0px;
}
.adminMenuDiv {
    position: fixed;
    top: 41px;
    bottom: 0px;
    width: 200px;
    left: 0px;
    background: silver;
}
.adminContentSplitter {
    position: fixed;
    top: 41px;
    bottom: 0px;
    width: 3px;
    left: 200px;
    background: white;
}
.adminMenuAccordionDiv {

}
.adminMenuAccordionDiv h3.ui-accordion-header {
    margin-top: 0px;
}
.adminContentDiv {
    position: fixed;
    top: 41px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}
.adminBodyDiv {
    position: fixed;
    top: 41px;
    bottom: 0px;
    left: 203px;
    right: 0px;
    background: grey;
    overflow: auto;
}
.adminHeaderLogoDiv {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 100px;
    height: 40px;
}
.adminHeaderModesDiv {
    float: right;
    height: 40px;
}
.adminHeaderModeDiv {
    float: left;
    padding: 0 20px;
    border: 0px solid silver;
    border-width: 0px 0px 0px 1px;
    height: 40px;
}
.adminHeaderModeDiv h3 {
}

/* fixes for template */
#vcms_area_adminMenu, #vcms_area_adminMenu .vcms_module {
    height: 100%;
}

.adminMenuAccordionDiv .ui-accordion-content {
    padding: 1em 0.2em;
}

.adminMenuDiv .vcms_module, .adminBodyDiv .vcms_module {
    padding: 0px;
}

.jstree-default.jstree-focused {
    background: white !important;
}
